.footer-container {
    background-color: #191919;
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.social-media {
    flex: 33.33%;
}

.webStudio {
    flex: 33.33%;
}

.rights-reserved {
    flex: 33.33%;
}

.info {
    padding-right: 20px;
    color: #b4b4b4;
}

@media (max-width: 800px) {
    .footer-container {
        flex-direction: column;
    }

    .social-media {
        padding-bottom: 1em;
    }
}